.about-section{
    &__video{
        &__wrapper{
            position: relative;
            &::after{
                content: "";
                background: url('../../images/play.png');
                height:6.7rem;
                width:6.7srem;
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50% , -50%);
            }
        }
    }
}