
@import '../common-imports';
.blog-herosection{
    

    &__cardblue{
        &--margintop{

            @include media-breakpoint-up(md){
               margin-top: -10.7rem;
            }
            @include media-breakpoint-up(xl){
                margin-top: -22rem;
             }
        }
    }


    &__cardwhite{
        &--item{
            box-shadow: 8px 8px 0px #EAEFED;

        }
    }


}

