@import '../common-imports';

.blog-single {
    &-details {
        &__list {
            li {
                list-style-type: disc;
            }
        }
        &__image {
            @include media-breakpoint-up(md) {
                filter: drop-shadow(8px 8px 0px #eaefed);
            }
            &::before {
                @include media-breakpoint-up(md) {
                    --bs-aspect-ratio: 47%;
                }
            }

            &--caption {
                background-color: $mint;
                @include media-breakpoint-up(md) {
                    background-color: transparent;
                }
            }
        }
    }
}
