@import '../common-imports';
.contact-herosection {
    &__image {
        &__item {
            &::before {
                @include media-breakpoint-up(md) {
                    --bs-aspect-ratio: 56.19%;
                }
            }
        }
    }

    &__cardblue {
        &--margintop {
            @include media-breakpoint-up(md) {
                position: relative;
                z-index: 5;
                margin-top: -4rem;

            }
        }
    }
}
