@import '../common-imports';

.leadspace {
    &-item2 {
        display: none;
        @include media-breakpoint-up(md) {
            display: block;
        }

        &__image {
            &::before {
                @include media-breakpoint-up(md) {
                    --bs-aspect-ratio: 56.45%;
                }

                @include media-breakpoint-up(xl) {
                    --bs-aspect-ratio: 52.45%;
                }
            }
        }
    }

    &-item1 {
        &__image {
            &::before {
                @include media-breakpoint-up(md) {
                    --bs-aspect-ratio: 72.94%;
                }

                @include media-breakpoint-up(xl) {
                    --bs-aspect-ratio: 81.68%;
                }
            }
        }
    }
}
