@import '../common-imports';
.service-point {
    &__image {
        position: relative;
        &--full {
            height: 23rem;
            @include media-breakpoint-up(md) {
                height: 48rem;
            }
        }

        &__case{
            background-color: red;
            height: 12rem;
            @include media-breakpoint-up(md){

                position: absolute;
                bottom:0;
                right:0;
               
            }

            &--arrow{
                i{
                    font-size:2.4rem;
                    @include media-breakpoint-up(md){
                           font-size: 6rem;
                    }

                    @include media-breakpoint-up(md){
                        font-size: 8rem;
                 }

                }
            }
        }
    }
}
