@import '../common-imports';
.service-point {
    &__image {
        @include media-breakpoint-up(md) {
            position: relative;
        }

        &--item {
            &::before {
                @include media-breakpoint-up(md) {
                    --bs-aspect-ratio: 53.09%;
                }
                @include media-breakpoint-up(xl) {
                    --bs-aspect-ratio: 38.7%;
                }
            }
        }

        &__case {
            @include media-breakpoint-up(md) {
                position: absolute;
                bottom: 0;
                right: 0;
            }

            &--arrow {
                i {
                    font-size: 2.4rem;
                    @include media-breakpoint-up(md) {
                        font-size: 6rem;
                    }

                    @include media-breakpoint-up(md) {
                        font-size: 8rem;
                    }
                }
            }
        }
    }
}
