.btn {
    font-size: 1.8rem;
    border-radius: 0;
    line-height: 2.7rem;
    i{

        font-size: 1.2rem;
    }

    &-outline-space{
        transition: 0.3s all;
        &:hover{
            background-color:transparent;
            border:1px solid $primary;
            color:$primary;
        }
    }

    &-primary{
        transition: 0.3s all;
        &:hover{
            background-color: $light;
            border:1px solid $space;
            color:$space;
        }

       
    }

    &-outline-light{
        &:hover{
            background-color:$space;
            border:1px solid $primary;
            color:$primary;
        }
    }
}