<section class="blog-cards py-10 py-md-20 py-xl-30">
    <div class="container">
        <h1 class="h6 mb-10 mb-md-21 text-space">more blog notes</h1>

        <div class="row blog-cards-categories d-flex flex-column flex-md-row">
            <div class="Body mb-2 mb-md-0">Category:</div>

            <ul class=" blog-catergories-list h6  d-flex  gap-7 mt-xl-1 flex-wrap text-uppercase flex-grow-1 mb-13">
                @@for (var i=0; i < categoryList.list.length; i++) {
                    @@include('../repeator/blog-category.html',`+(JSON.stringify(categoryList.list[i]))+`)
                }
            </ul>
<!-- search with filter -->
            <div class="row  justify-content-md-between">
                <div class="col-12 col-md-6 col-xl-5 p-0">
                    <input type="text" class="w-100 rounded-pill border border-teal border-1">
                </div>

                <div class=".blog-cards-latest col-12 col-md-3 align-self-end d-flex justify-content-end">
                    <div class="dropdown">
                        <button class="border-0 bg-transparent dropdown-toggle btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Latest
                        </button>
                        <ul class="dropdown-menu h6" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="#">alphabetical order</a></li>
                          <li><a class="dropdown-item" href="#">features</a></li>
                          <li><a class="dropdown-item" href="#">latest</a></li>
                          <li><a class="dropdown-item" href="#">oldest</a></li>

                        </ul>
                      </div>
                </div>
            </div>

        </div>


        <div class="row mt-10 mt-md-20">
            @@for (var i=0; i < articleList.list.length; i++) {
                @@include('../repeator/card-with-img.html',`+(JSON.stringify(articleList.list[i]))+`)
            }
    </div>

     <!-- pagination -->
     @@include('../pagination/pagination.html')
</section>